.components-toolbar-group {
	.ib-ctt-tb-wrapper {
		position: relative;
		align-self: center;
		margin: 0px 10px;
		label {
			position: absolute;
			top: 14px;
			left: 7px;
		}
		input {
			padding-left: 25px;
			&::placeholder {
				color: grey;
			}
		}
	}
}

button[class*="editor-block-list-item-ideabox-"] .block-editor-block-icon svg {
    fill: #fff;
    background: #2196F3;
    border-radius: 100%;
}